#!/usr/local/bin/bash

declare -i ECODE=0
declare -i STATUSCODE=0
declare STATUS="OK"
for checkservice in {{ opn_checkmk_configctl_service_status.values() | list | flatten | unique | list | join(' ') }}; do
    STATUSCODE=0
    STATUS="OK"
    TXT=""
    CHECKNAME="${checkservice}-service-status"
    O=$(configctl ${checkservice} status 2>&1)
    ECODE=$?
    if [ $ECODE -gt 0 ]; then
        STATUSCODE=3
        STATUS="UNKNOWN"
        TXT="configctl ${checkservice} status exit code $ECODE (?) ... $O"
    else
        if  echo "$O" | grep -q " is running as pid "; then
            TXT="$O (.)"
        else
            TXT="$O (!!)"
            STATUSCODE=2
            STATUS="CRITICAL"
        fi
    fi
    echo "$STATUSCODE $CHECKNAME $STATUS - $TXT"
done
