#!/usr/local/bin/bash

declare -i ECODE=0
declare -i STATUSCODE=0
declare STATUS="(.)"
for checkservice in {{ opn_checkmk_configctl_service_status.values() | list | flatten | unique | list | join(' ') }}; do
    STATUSCODE=0
    STATUS="OK"
    TXT=""
    CHECKNAME="${checkservice}-service-status"
    O=$(configctl ${checkservice} status 2>&1)
    ECODE=$?
    if [ $ECODE -gt 0 ]; then
        STATUSCODE=3
        STATUS="(?)"
        TXT="configctl ${checkservice} status exit code $ECODE ... $O"
    else
        TXT="$O"
        if  echo "$O" | grep -q " is running as pid "; then
            STATUS="(.)"
        else
            STATUS="(!!)"
            STATUSCODE=2
        fi
    fi
    echo "$STATUSCODE $CHECKNAME - $STATUS $TXT"
done
